body {
    background-color: rgb(231, 229, 229);
    position: relative;
    height: 90%;
    margin: auto 50px;
}

h1 {
    text-align: center;
}

#calculadora {
    text-align: center;
    border: 1px solid rgb(124, 173, 169);
    background-color: rgb(249, 252, 253);
    padding: 5%;
    border-radius: 10px;
    margin: auto 5%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

button {
    width: 22%;
    height: 100%;
    margin: 2px;
    border-radius: 5%;
    border-style: none;
    font-size: 30pt;
}

#igualdade {
    width: 90%;
    height: 100%;
    font-size: 30pt;
    margin: 2px;
    border-style: none;
    background-color: rgb(215, 216, 216);
}

#display {
    width: 90%;
    height: 10%;
    font-size: 40pt;
    margin: auto;
    border-style: inherit;
    background-color:#e0eaeb;
    
}

#limpatela {
    background-color: rgb(238, 219, 217);
}